{% extends "app/base1.html" %}
{% load static %}
{% block content %}



    <!-- Start Home -->
    <section class="bg-home" style="background: url('https://via.placeholder.com/2000X1333//88929f/5a6270C/O https://placeholder.com/') center center;">
        <div class="bg-overlay"></div>
        
    </section>
    <!-- end home -->

    <!-- popular category start -->
    
    <!-- all jobs end -->

    <!-- How it Work start -->
   
    <!-- blog end -->

    <!-- subscribe start -->
    <section class="section">
        <div class="container">
            <div class="row">
                
                <div class="col-lg-8 col-md-7 mt-4 mt-sm-0">
                    <form>
                        <div class="form-group mb-0">
                            <div class="input-group mb-0">
                                
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- subscribe end -->

    {% endblock %}

    